/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-6-30, 1:44:55
    Author     : Administrator
*/

div.chessboard {
	margin: 30px 0 0 50px;
	width: 542px;
	background: url(chessboard.png) no-repeat 14px 14px rgb(250, 250, 250);
	overflow: hidden;
	box-shadow: 2px 2px 8px #888;
	-webkit-box-shadow: 2px 2px 8px #888;
	-moz-box-shadow: 2px 2px 8px #888;
}

div.chessboard div {
	float: left;
	width: 36px;
	height: 36px;
	border-top: 0px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0;
	border-bottom: 0;
	cursor: pointer;
}
div.chessboard div.black {
	background: url(black.png) no-repeat 4px 4px;
}
div.chessboard div.white {
	background: url(white.png) no-repeat 4px 4px;
}
div.chessboard div.hover {
	background: url(hover.png) no-repeat 1px 1px;
}